[submodule "components/cJSON"]
	path = components/cJSON
	url = https://github.com/maximkulkin/esp-cjson
[submodule "components/wolfssl"]
	path = components/wolfssl
	url = https://github.com/maximkulkin/esp-wolfssl
[submodule "components/homekit"]
	path = components/homekit
	url = https://github.com/maximkulkin/esp-homekit
[submodule "components/wifi_config"]
	path = components/wifi_config
	url = https://github.com/maximkulkin/esp-wifi-config
[submodule "components/led-status"]
	path = components/led-status
	url = https://github.com/maximkulkin/esp-led-status.git
[submodule "components/esp-open-rtos"]
	path = components/esp-open-rtos
	url = https://github.com/SuperHouse/esp-open-rtos.git
